<h1>Showing articles</h1>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @article.description %>
</p>
<p>
    <%= link_to "Cancel and return to articles page", articles_path %>
</p>